<template>
    <div id="app">
        <router-view/>
    </div>
</template>

<script>
    import { RepositoryFactory } from './api/RepositoryFactory';
    const AuthRepository = RepositoryFactory.get('auth');
    const CityRepository = RepositoryFactory.get('cities');

    export default {
        async beforeCreate() {
            this.$store.dispatch('setLoading', true);
            if(localStorage.getItem('token')){
                CityRepository.get().then((res) => {
                    this.$store.dispatch('populateCities', res.data.cities);
                }).catch((err) => {
                    localStorage.removeItem('token');
                    alert('The page will be reloading automatically.');
                    window.location.reload();
                }).finally(() => {
                    this.$store.dispatch('setLoading', false);
                });
                return;
            }

            await AuthRepository.getToken().then((res) => {
                localStorage.setItem('token', res.data.token);
                this.$store.dispatch('setLoading', false);
            })
        }
    }
</script>
<style lang="scss">
    @import "~bootstrap/scss/bootstrap";
    @import "./scss/main";
</style>
