<template>
    <div class="wrapper">
        <div class="row">
            <!-- main -->
            <div class="column col-xl-10 col-lg-9  col-sm-8 col-xs-7" id="main">
                <div class="mt-3" v-if="IS_SELECTED_CITY">
                    <div class="d-flex justify-content-between white-wrapper p-4">
                        <h2 class="mb-0 mt-1">Forecast Weather <span class="text-danger">{{ CITY.label }}</span></h2>
                        <h2 class="mb-0 ">
                            <img :src="`http://openweathermap.org/img/w/${WEATHER_CUR.weather_icon}.png`">
                            {{ WEATHER_CUR.temperature ? Math.floor(WEATHER_CUR.temperature) + "&deg;C": ''}}
                        </h2>
                    </div>

                    <weather-today></weather-today>
                    <today-info></today-info>

                    <div class="d-flex justify-content-around flex-column flex-lg-row">
                        <hourly-table></hourly-table>
                        <daily-table></daily-table>
                    </div>
                </div>
                <div v-else-if="!LOADING_CITIES" class="white-wrapper text-center p-3 m-3">
                    <h2>Please Select your location </h2>
                </div>
                <div v-if="LOADING_CITIES" class="white-wrapper text-center p-3 m-3">
                    <h2><i class="fas fa-sync fa-spin"></i> Loading Cities...</h2>
                </div>
            </div>

            <!-- sidebar -->
            <div class="column col-xl-2 col-lg-3 col-sm-4 col-xs-5" id="sidebar">
                <h2 class="headline text-center pb-3 mb-3">
                    <img src="/img/logo.png" alt="weather" width="64">
                    Weather
                </h2>
                <div>
                    <search-city></search-city>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SearchCity   from  '@/components/SearchCity';
    import WeatherToday from  '@/components/WeatherToday';
    import HourlyTable  from  '@/components/HourlyTable';
    import DailyTable   from  '@/components/DailyTable';
    import TodayInfo    from  '@/components/TodayInfo';

    export default {
        components: {
            SearchCity,
            WeatherToday,
            HourlyTable,
            TodayInfo,
            DailyTable
        }
    }
</script>
