<template>
    <div class="white-wrapper mt-3 col-lg-5 p-0 col-md-12">
        <h3 class="text-center pt-2 pb-2">Forecasts Daily 5 days</h3>
        <table class="table table-bordered table-hover">
            <tr>
                <th>Date</th>
                <th>Info</th>
            </tr>

            <tr v-for="(data, key) in dailyData">
                <td>
                    {{ key.replace(/-/g, ' ').substr(3, key.length) }}
                    <img :src="`http://openweathermap.org/img/w/${data.weather.icon}.png`">
                    <br>
                    <span class="text-uppercase badge-success badge">{{ data.weather.name }}</span>
                </td>
                <td>
                    <p>
                        <span class="badge badge-danger  pl-3 pr-3">{{ Math.floor(data.temp_min) }}<sup>&deg;</sup>C</span>
                        <span class="badge badge-warning ml-2 pl-3 pr-3">{{ Math.ceil(data.temp_max)}}<sup>&deg;</sup>C</span>
                    </p>
                    <p>
                        {{ data.wind_speed.toFixed(2) }} m/s
                        clouds: {{ data.clouds }}%
                        {{ data.pressures }} hPa
                    </p>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>

    export default {
        data()  {
            return {
                dailyData : []
            }
        },
        watch : {
            'FORECASTS_CITY': function() {
                this.getForecastDaily();
            }
        },
        mounted() {
            this.getForecastDaily();
        },
        methods : {
            getForecastDaily() {
                    const DAILY_DATA = {};

                    this.FORECASTS_CITY.map((item) => {
                        let day = this.moment(item.forecast_from).format('MM-DD-ddd-MMM');
                        if(!DAILY_DATA[day]) {
                            DAILY_DATA[day] = {
                                temperatures : [],
                                pressuress   : [],
                                clouds       : [],
                                wind_speeds  : [],
                                weather      : []
                            };
                        }

                        DAILY_DATA[day].temperatures.push(item.temperature, item.temperature_min, item.temperature_max);
                        DAILY_DATA[day].pressuress.push(item.pressure);
                        DAILY_DATA[day].clouds.push(item.clouds);
                        DAILY_DATA[day].clouds.push(item.clouds);
                        DAILY_DATA[day].weather.push({icon : item.weather_icon, name : item.weather_condition});
                        DAILY_DATA[day].wind_speeds.push(item.wind_speed_mps);
                    });


                    const FINAL_DATA = {};
                    Object.keys(DAILY_DATA).map((key) => {
                        FINAL_DATA[key] = {
                            temp_min        : Math.min(...DAILY_DATA[key].temperatures),
                            temp_max        : Math.max(...DAILY_DATA[key].temperatures),
                            pressure        : Math.max(...DAILY_DATA[key].pressuress),
                            clouds          : Math.max(...DAILY_DATA[key].clouds),
                            wind_speed      : Math.max(...DAILY_DATA[key].wind_speeds),
                            weather         : DAILY_DATA[key].weather[0]
                        }
                    });

                    this.dailyData = FINAL_DATA;
            }
        },
    }
</script>