<template>
    <div class="white-wrapper mt-3 col-lg-5 p-0 col-md-12">
        <h3 class="text-center pt-2 pb-2">Forecasts Hourly</h3>
        <table class="table table-bordered table-hover">
            <tr>
                <th>Date</th>
                <th>Info</th>
            </tr>

            <tr v-for="forecast in FORECASTS_CITY">
                <td>
                    {{ moment(forecast.forecast_from).add(userTimezoneOffset, 'hour').format('ddd DD MMM HH:mm') }}
                    <img :src="`http://openweathermap.org/img/w/${forecast.weather_icon}.png`"><br />
                    <span class="text-uppercase badge-success badge">{{ forecast.weather_condition }}</span>
                </td>
                <td>
                    <p>
                        <span class="badge badge-danger  pl-3 pr-3">{{ Math.round(forecast.temperature) }}<sup>&deg;</sup>C</span>
                        <span class="text-uppercase badge-pill badge-warning badge ml-3">{{ forecast.wind_speed_name }}</span>
                    </p>
                    <p>
                        {{ forecast.wind_speed_mps.toFixed(2) }} m/s
                        clouds: {{ forecast.clouds }} {{ forecast.clouds_unit }},
                        {{ forecast.pressure }} {{ forecast.pressure_unit }}
                    </p>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    export default {
        data()  {
            return {

            }
        }
    }
</script>