<template>
    <div>
        <v-select
                placeholder="Enter a location"
                :onSearch="getSuggestions"
                :options="suggestions"
                v-model="selectedCity"
        ></v-select>
        <div class="clearfix">
            <button class="btn btn-info btn-sm  mt-3 mb-3 w-100"
                    :disabled="!selectedCity || LOADING"
                    @click.prevent="addCity()">
                <template v-if="LOADING">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </template>
                <template v-else>
                    ADD CITY
                </template>
            </button>
        </div>

        <div class="overflow-auto height-scrollable">
            <div v-for="(city, key) in $store.getters.selectedCities"
                 class="mt-1 card-city c-pointer"
                 :class="{'selected' : city.value === CITY.value}"
            >
                <div @click.prevent="showForecast(city)">
                    <div class="d-flex justify-content-between">
                        <h6>{{ city.label }}</h6>
                        <i class="fas fa-times text-danger" role="button" @click.stop.prevent="$store.dispatch('removeCity', key)"></i>
                    </div>
                    <div class="d-flex justify-content-between align-content-center-center mt-2">
                        <p class="mb-0 align-self-center">{{ Math.floor(city.current_weather.temperature) }}<sup>&deg;</sup>C</p>
                        <p class="mb-0 mt-2 text-capitalize text-overflow" :title="city.current_weather.weather_condition">
                            <img :src="`http://openweathermap.org/img/w/${city.current_weather.weather_icon}.png`" width="50px">
                            {{ city.current_weather.weather_condition }}
                        </p>
                    </div>
                    <small class="mt-0">Last update:
                        {{  moment(city.current_weather.created_at).fromNow() }}
                    </small>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { RepositoryFactory } from '../api/RepositoryFactory';
    const CitiesRepository = RepositoryFactory.get('cities');

    export default {
        data() {
            return {
                suggestions  : [],
                selectedCity : null,
                cities       : []
            }
        },
        mounted() {
            setInterval(() => this.$forceUpdate(),10000);
        },
        methods : {
            getSuggestions(keyword) {
                CitiesRepository.suggestions(keyword)
                    .then((res) => {
                        this.suggestions = res.data.cities;
                })
            },
            addCity() {
                this.$store.dispatch('addNewCity', this.selectedCity);
                this.selectedCity = null;
            },
            showForecast(city) {
                this.$store.dispatch('selectActiveCity', city)
            }
        }
    }
</script>