<template>
    <div class="white-wrapper mt-3 col-12 p-0">
        <h3 class="text-center pt-2 pb-2">Current Weather Info</h3>
        <table class="table table-bordered">
            <tr>
                <td>Weather</td>
                <td class="text-capitalize">
                    {{ WEATHER_CUR.weather_condition }}
                    <img :src="`http://openweathermap.org/img/w/${WEATHER_CUR.weather_icon}.png`" height="25px">
                </td>
            </tr>

            <tr>
                <td>Precipitation</td>
                <td>
                    {{ WEATHER_CUR.precipitation_value ? WEATHER_CUR.precipitation_value : 'N/A' }} {{ WEATHER_CUR.precipitation_unit }}
                    <span class="badge badge-pill badge-secondary">{{ WEATHER_CUR.precipitation_type }}</span>
                </td>
            </tr>

            <tr>
                <td>Wind</td>
                <td class="text-capitalize">
                    {{ WEATHER_CUR.wind_speed_mps ? WEATHER_CUR.wind_speed_mps.toFixed(2)  : '' }} m/s ({{ WEATHER_CUR.wind_speed_name}})
                    <span class="badge badge-pill badge-danger">{{ WEATHER_CUR.wind_name }}</span>
                </td>
            </tr>

            <tr>
                <td>Temperature</td>
                <td class="text-capitalize">
                    <span class="badge badge-danger p-2">{{ Math.ceil(WEATHER_CUR.temperature_min)}} <sup>&deg;</sup>C</span>
                    <span class="badge badge-success p-2 ml-2">{{ Math.ceil(WEATHER_CUR.temperature_max)}} <sup>&deg;</sup>C</span>
                </td>
            </tr>

            <tr>
                <td>Pressure</td>
                <td class="text-capitalize">
                    {{ WEATHER_CUR.pressure}} {{ WEATHER_CUR.pressure_unit}}
                </td>
            </tr>

            <tr>
                <td>Humidity</td>
                <td class="text-capitalize">
                    {{ WEATHER_CUR.humidity}}{{ WEATHER_CUR.humidity_unit}}
                </td>
            </tr>

            <tr>
                <td>Clouds</td>
                <td class="text-capitalize">
                    {{ WEATHER_CUR.clouds }}{{ WEATHER_CUR.clouds_unit }}
                    <span class="badge badge-pill badge-success">{{ WEATHER_CUR.clouds_name }}</span>
                </td>
            </tr>

            <tr>
                <td>Sun Rise/Sun Set</td>
                <td class="text-capitalize">
                    <span class="badge badge-warning">{{ moment(WEATHER_CUR.sun_rise).add(userTimezoneOffset, 'hour').format('HH:mm') }}</span>
                    <i class="fas fa-long-arrow-alt-right mx-2"></i>
                    <span class="badge badge-danger">{{ moment(WEATHER_CUR.sun_set).add(userTimezoneOffset, 'hour').format('HH:mm') }}</span>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    export default {
        data() {
            return {

            }
        },
    }
</script>