<template>
    <div>
        <div id="today-chart" class="white-wrapper mt-3"></div>
    </div>
</template>

<script>
    export default {
        watch : {
            'FORECASTS_CITY': function() {
                this.initChart();
            }
        },
        mounted() {
            this.initChart();
        },
        methods: {
            initChart() {
                Highcharts.chart('today-chart', {
                    chart: {
                        type: 'spline'
                    },
                    title: {
                        text: `${ this.CITY.label } - Today Hourly Temperature`
                    },
                    xAxis: {
                        categories: this.categories
                    },
                    yAxis: {
                        title: {
                            text: 'Temperature'
                        },
                        labels: {
                            formatter: function () {
                                return this.value + '°';
                            }
                        }
                    },
                    tooltip: {
                        crosshairs: true,
                        shared: true,
                        pointFormat : ` Condition: <b>{point.meta.condition}</b><br/>
                                        Temperature: <b>{point.y}°</b><br/>
                                        Wind : <b>{point.meta.wind_speed}</b><br/>
                                        Pressure : <b>{point.meta.pressure}</b><br/>
                                       `
                    },
                    plotOptions: {
                        spline: {
                            marker: {
                                radius: 4,
                                lineColor: '#666666',
                                lineWidth: 1
                            }
                        }
                    },
                    series: [{
                        name: this.CITY.label,
                        data: this.dataChart
                    }]
                });
            }
        },
        computed : {
            categories : function () {
                return Object.values(this.FORECASTS_CITY).map(o => this.moment(o.forecast_from).add(this.userTimezoneOffset, 'hour').format('HH:mm a'))
            },
            dataChart : function () {
                const  DATA = [];
                Object.values(this.FORECASTS_CITY).forEach(o => {
                    if(new Date(o.forecast_from).getDate() === new Date().getDate()) {
                        DATA.push({
                            y: Math.floor(o.temperature),
                            meta : {
                                wind_speed : `${o.wind_speed_mps.toFixed(2)} mps ${o.wind_name}`,
                                condition  : o.weather_condition,
                                pressure   : `${o.pressure.toFixed(2)} hPa`
                            },
                            marker: {
                                symbol: `url(http://openweathermap.org/img/w/${o.weather_icon}.png)`
                            }
                        })
                    }
                })

                return DATA;
            }
        }
    }
</script>