@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");


body,html                                                                                                                                                                                          html, body {
  height: 100%;
  font-family: 'Open Sans', "Raleway", sans-serif;
  background: #f8f9fa;
}

.c-pointer{cursor: pointer;}
.white-wrapper{
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.wrapper, .row {
  height: 100%;
  margin-left:0;
  margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
  content: "";
  display: table;
}

.wrapper:after,
.column:after {
  clear: both;
}

#main {
  min-height: 100vh;
  background: url("~/../img/weather/night.jpg") repeat;
}

.text-overflow{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#sidebar {
  background-color:#fff;
  height:100%;
  position:fixed;
  right:0;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 20px 10px;
  @media (max-width: 575px) {
    display: none;
  }
  .headline{
    border-bottom: 1px solid yellowgreen;
  }
  .height-scrollable{
    height: 75vh;
  }

  .card-city{
    position: relative;
    background: #2b477c;
    padding: 10px 10px 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 3px;
    color: #fff;
    &.selected{
      background: #0f93f6;
    }
    h6{
      margin: 0;
      font-size: 20px;
    }
    i{
      cursor: pointer;
      margin-top: 1px;
    }
    p{
      font-size: 20px;
    }
    small{
      font-size: 9px;
      color: #fff;
    }
    .loading__wrapper{
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 5;
      cursor: default;
      .loading__content{
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        .loading{
          font-size: 40px;
          color: #fff;
          cursor: default;
        }
      }
    }
    .content-opacity{
      opacity: 0.2;
    }
  }
}